

    .patients{ padding: 40px 0; }
    .patients .patients-title{ margin: 0 0 20px 0;  }
    .patients .patients-title h1{ font-size: 32px; margin: 0; color: #00995d; }
    .patients-table thead tr th{ font-size: 16px; }