<div class="patients">
    <div class="container">
        <div class="patients-title text-center">
            <h1>Pacientes</h1>
        </div>
        <table class="patients-table table table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col">NOME</th>
                    <th scope="col">CPF</th>
                    <th scope="col">NASCIMENTO</th>
                    <th scope="col">MÃE</th>
                    <th scope="col">ENDEREÇO</th>
                    <th scope="col">N° REGISTRO</th>
                    <th scope="col">PLANO</th>
                    <th scope="col">EXAMES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients"> 
                    <td>{{patient.name}}</td>
                    <td>{{patient.cpf}}</td>
                    <td>{{patient.birth_date}}</td>
                    <td>{{patient.mother_name}}</td>
                    <td>{{patient.address}}, {{patient.number}}, {{patient.city}} - {{patient.state}}, {{patient.code}}</td>
                    <td>{{patient.register_number}}</td>
                    <td>{{patient.plan_name}}</td>
                    <td>{{patient.exams}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

